@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    /*Primary*/

    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /*Neutral*/

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

}

body,
html {
    margin: 0 auto;
    max-width: 1200px;
    width: 100vw;
    height: 100vh;
    background-color: var(--Off-white);
}

@media (max-width:760px) {
    body {
        padding: 1.25rem;
    }
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

/* container */
.container {
    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr;
    grid-template-areas:
        'header  header  header'
        'content content new'
        'card  card card'
        'attribution attribution attribution'

    ;
}

@media (max-width:760px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'content'
            'new'
            'card'
            'attribution'

    }
}

/* header */
.header {
    position: relative;
    padding: 20px;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;

}

.nav li+li {
    margin-left: 10px;
}

.logo img {
    max-width: 65px;
    width: 100%;
}

.nav ul li a {
    display: block;
    padding: 10px;
    color: var(--Dark-grayish-blue);
    border-radius: 5px;
    transition: .3s ease;
}

nav ul li a:hover {
    color: var(--Soft-orange);
    background-color: rgba(0, 0, 0, 0.1);

}

#icon {
    position: absolute;
    display: none;
    right: 0;


}

#close {
    position: absolute;
    top: 25px;
    right: 0;
    display: none;


}

@media(max-width:760px) {



    .nav {
        z-index: 99;
        position: absolute;
        top: 0;
        right: 0;
        height:1000px;
        width: 50vw;
        background-color:var(--Off-white);
        display: none;
        transition: .4s ease
    }

    nav ul li a {
        width: 90px;
    }

    nav ul {
        flex-direction: column;
        margin-top: 100px;


    }

    nav ul li {
        margin-left: 10px;
        padding: 5px;
    }

    #icon {
        display: block;
        z-index: 9;
    }





}

/* content */
.content {
    display: grid;
    grid-template-columns: 1.7fr;
    grid-area: content;
    margin: 20px auto;
}

.img-cnt img {

    width: 100%;

}

.text {
    margin-top: 30px;
    display: grid;
    gap: 2rem;


}

.text h1 {

    grid-column: 1;
    color: var(--Very-dark-blue);
    font-size: 3em;
    font-weight: 800;
    line-height: 1;


}

.text div {
    grid-column: 2;
}

.text p {
    font-size: 1em;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 20px;
}

.btn {
    gap: 0;
    background-color: var(--Soft-red);
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    grid-column: 2;
    width: 12rem;
    letter-spacing: 3px;
    padding: 1rem;
    border: none;
}

@media (max-width:760px) {
    .text div {
        grid-column: 1;


    }
}

/* new */
.new {
    grid-area: new;
    display: grid;
    padding: 20px;
    margin: 20px 0px 30px 20px;
    justify-content: flex-start;


}

.new {
    background-color: var(--Very-dark-blue);
}

.new h2 {
    font-size: 1.8em;
    color: var(--Soft-orange);
}

.new h3 {
    font-size: 1.18em;
    padding: 15px 0px;
    line-height: 1;
    color: #fff;
    cursor: pointer;
}

.new h3:hover {
    color: var(--Soft-orange);
}

.new p {
    line-height: 1.8;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 1em;
    color: hsl(236, 13%, 42%);
}

.new div:nth-child(3) {
    border-top: 1px solid rgba(238, 238, 238, 0.52);
    border-bottom: 1px solid rgba(238, 238, 238, 0.52);
}

@media (max-width:760px) {
    .new {
        margin: 30px 0px;
    }
}

/* aside */


.card {
    margin-top: 30px;
    grid-area: card;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.card article {
    gap: 20px;
    display: flex;
    align-items: center;

}

.card article img {
    width: 10rem;
}

.card article span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 2em;
    font-weight: 800;
    line-height: 1.5;
}

.card article h4 {
    color: var(--Very-dark-blue);
    font-size: 1.3em;
    line-height: 1.5;
}

.card article p {
    color: hsl(236, 13%, 42%);
    font-size: 1em;
    line-height: 1.7;
}



@media (max-width:1000px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:760px) {
    .card {

        grid-template-columns: repeat(1, 1fr);
    }
}

/* footer */
.attribution {
    grid-area: attribution;

    margin: 30px auto;
    padding: 1.25rem;
}

.change #close {
    position: absolute;
    right: 0;
    z-index: 999;
    display: block !important;
    transition: .3s ease;
}

.change {

    display: block;
}